html, body{
    height: 101%;
    background-color: #222;
}
#pnlSubMenu{
    padding:0;
}
#pnlMainBodyContent{
    padding:0;
    background-color: #f8f8f8;
}
#pnlContent{
    background-color: white;
    padding:1%;
}
footer{
    padding: 2.5%;
    min-height: 10%;
    background-color: #222;
    color:#9d9d9d
}
.navbar-static-top{
    margin: 0;
    border: 0;
}
/*************************************************************
 以下是為了垂直導覽列所做的額外設定，單純只是讓版變得好看一點而已
 *************************************************************/
#pnlSubNavbar{
    padding:0;
}
#pnlSubNavbar > .navbar-nav{
    width:100%;
    margin:0;
}
#pnlSubNavbar > .navbar-nav > li{
    width:100%;
}
#pnlSubNavbar > .navbar-nav > li > a{
    width:100%;
}
#pnlSubNavbar > .navbar-nav > li:hover{
    background-color:#e7e7e7;
}